.login .loginForm {
  display: flex;
  flex-direction: column;
}

.login label {
  text-align: left;
  padding: 0.5rem;
}

.login input {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}

.login {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.login .loginButton {
  background-color: rgb(250, 235, 215);
  margin-left: 60px;
  padding: 1rem;
  border-radius: 10px;
  width: 100px;
}

.login .loginButton:active {
  background-color: rgb(255, 218, 169);
  margin-left: 60px;
  padding: 1rem;
  border-radius: 10px;
  width: 100px;
}

.login img {
  height: 250px;
  width: 250px;
}