.MCPID {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.MCPID img {
      height: 600px;
      width: 1200px;
}

.MCPID button {
      margin: 1rem;
      background-color: antiquewhite;
      padding: 10px;
      width: 200px;
}

.MCPID button:active {
      margin: 1rem;
      background-color: bisque;
      padding: 10px;
      width: 200px;
}

.MCPID .Properties {
      border-bottom: 1px solid;
      border-color: black;
}

.MCPID .Properties h2 {
      display: inline;
}

.MCPID .Properties .Props {
      font-weight: normal;
      font-size: 150%;
}