.myRouteList {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-bottom: 20px;
}

.myRouteList h1 {
    text-align: center;
}

.myRouteList table button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
}

.myRouteList button:active {
    padding: 5px;
    margin: 15px;
    background-color: bisque;
}

.myRouteList button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
    width: 200px;
}

.myRouteList view {
    align-self: center;
}

.myRouteList .routeDel {
    padding: 5px;
    margin: 15px;
    background-color: red;
    color: antiquewhite;
}


.myRouteList .routeDel:active {
    padding: 5px;
    margin: 15px;
    background-color: rgb(213, 75, 103);
    color: antiquewhite;
}

.myRouteList table,
tr {
    text-align: center;
    border-bottom: 1px solid;
    border-color: black;
}

.myRouteList th,
tr,
td {
    margin: 20px;
    padding: 10px;
}

.myRouteList table {
    width: 50%;
    height: 100%;
    align-self: center;
}