.mytaskScheduleCollector {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-bottom: 20px;
    align-items: center;
}

.mytaskScheduleCollector h1 {
    text-align: center;
}

.mytaskScheduleCollector table button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
}

.mytaskScheduleCollector button:active {
    padding: 5px;
    margin: 15px;
    background-color: bisque;
}

.mytaskScheduleCollector button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
    width: 125px;
}

.mytaskScheduleCollector table,
tr {
    text-align: center;
    border-bottom: 1px solid;
    border-color: black;
}

.mytaskScheduleCollector th,
tr,
td {
    margin: 20px;
    padding: 10px;
}

.mytaskScheduleCollector table {
    width: 50%;
    height: 100%;
}

.mytaskScheduleCollector #TaskScheduleCollector .checkBox {
    position: alternative;
    height: 53px;
    width: 40px;
    background-color: #eee;
}