.myVehicleList {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-bottom: 20px;
}

.myVehicleList h1 {
    text-align: center;
}

.myVehicleList table button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
}

.myVehicleList button:active {
    padding: 5px;
    margin: 15px;
    background-color: bisque;
}

.myVehicleList button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
    width: 200px;
}

.myVehicleList view {
    align-self: center;
}

.myVehicleList .VehicleDel {
    padding: 5px;
    margin: 15px;
    background-color: red;
    color: antiquewhite;
}


.myVehicleList .VehicleDel:active {
    padding: 5px;
    margin: 15px;
    background-color: rgb(213, 75, 103);
    color: antiquewhite;
}

.myVehicleList table,
tr {
    text-align: center;
    border-bottom: 1px solid;
    border-color: black;
}

.myVehicleList th,
tr,
td {
    margin: 20px;
    padding: 10px;
}

.myVehicleList table {
    width: 50%;
    height: 100%;
    align-self: center;
}