.myWorkerList {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-bottom: 20px;
}

.myWorkerList h1 {
    text-align: center;
}

.myWorkerList table button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
}

.myWorkerList button:active {
    padding: 5px;
    margin: 15px;
    background-color: bisque;
}

.myWorkerList button {
    padding: 5px;
    margin: 15px;
    background-color: antiquewhite;
    width: 200px;
}

.myWorkerList view {
    align-self: center;
}

.myWorkerList .WorkerDel {
    padding: 5px;
    margin: 15px;
    background-color: red;
    color: antiquewhite;
}


.myWorkerList .WorkerDel:active {
    padding: 5px;
    margin: 15px;
    background-color: rgb(213, 75, 103);
    color: antiquewhite;
}

.myWorkerList table,
tr {
    text-align: center;
    border-bottom: 1px solid;
    border-color: black;
}

.myWorkerList th,
tr,
td {
    margin: 20px;
    padding: 10px;
}

.myWorkerList table {
    width: 50%;
    height: 100%;
    align-self: center;
}

.myWorkerList .rendering {
    display: inline-block;
    align-self: center;
    text-align: center;
}