.schedule {
      display: flex;
      flex-direction: column;
      padding-left: 250px;
      padding-bottom: 20px;
}

.schedule button {
      margin: 1rem;
      background-color: antiquewhite;
      padding: 10px;
      width: 200px;
      align-self: center;
}

.schedule button:active {
      margin: 1rem;
      background-color: bisque;
      padding: 10px;
      width: 200px;
}

.schedule table,
tr {
      text-align: center;
      border-bottom: 1px solid;
      border-color: black;
}

.schedule h1 {
      align-self: center;
}